.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* bachjk





Suraj Kumar Prajapati12:13 PM
How many round for selectyion
Ujjwal Joshi12:13 PM
Well, most of the things are clear sir.
Vikasini S12:13 PM
May I know the notice period for this role sir?
Rushikesh Kumbhar12:14 PM
Good Morning Sir, is there any branch criteria or criterias regarding the standing arrerras?
Suraj Kumar Prajapati12:14 PM
ok sir thank you
Vikasini S12:14 PM
I mean the date of joining sir
Okay sir, thank you.
Rushikesh Kumbhar12:15 PM
okay, thank you sir
Ajay Pandey12:15 PM
ajay@xelpmoc.in
utkarsh Chaturvedi12:16 PM
sir what will be the ctc
shivam kumar12:16 PM
Sir your voice is not clear.
Navya Ghosh12:16 PM
how many candidates got hired?
Ajay Pandey12:17 PM
user sing-in/registration, input 2 no.'s and display 10 fibonacci seriers starting from those 2 i/p no.'s
shivam kumar12:18 PM
Sir could you please repeat the task ?
Vikasini S12:18 PM
Could you explain the question again sir?
Suraj Kumar Prajapati12:18 PM
Yes sir please repeat
Rushikesh Kumbhar12:18 PM
Do we have to manage the sign in information in the backend?
Vikasini S12:19 PM
Should the series start from the given i/p or between the given i/p sir?
Suraj Kumar Prajapati12:19 PM
submission before 12 afternoon or 12 night
Navya Ghosh12:19 PM
This job is for freshers?
Pranathi reddy Tummala12:20 PM
will you consider our previous ctc?
okay
utkarsh Chaturvedi12:20 PM
sir is it different task or we have to check after sign -in  in second window
Thanweera Nourin A V12:20 PM
Can you just explain the assignment again? I had network issues before , so couldn't join early. Sorry
Rahul Verma12:20 PM
sir this is one question or two ?
Vikasini S12:21 PM
Should the series start from the given i/p or between the given i/p sir?
fzz-agxt-djq */